@use "../abstracts/" as *;
.content--mgbt-0 {
  margin-bottom: 5px;
}
.content--mgbt-1 {
  margin-bottom: 10px;
}
.content--mgbt-2 {
  margin-bottom: 27px;
}
.content--mgbt-3 {
  margin-bottom: 42px;
  @include tablet {
    margin-bottom: 20px;
  }
  @include mobile {
    margin-bottom: 20px;
  }
}
.content--mgbt-4 {
  margin-bottom: 42px;
  @include tablet {
    margin-bottom: 20px;
  }
  @include mobile {
    margin-bottom: 20px;
  }
}
.content--pdt {
  padding-top: 80px;
  @include tablet {
    padding-top: 20px;
  }
  @include mobile {
    padding-top: 20px;
  }
}
