@use "../abstracts/" as *;

@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto Regular"), local("Roboto Regular"),
    url("../../public/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  src: local("Roboto Bold"), local("Roboto Bold"),
    url("../../public/assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: $regular-font;
  width: 100%;
  margin: 0 auto;
}
